.App {
  text-align: center;
  margin-top: 50px;
}

.linethroughToDo {
  text-decoration: line-through;
}

.buttonDelete {
  background-color:black;
  border: none;
  border-radius: 5px;
  width: 100px;
  color: white;
  text-decoration: none;
  margin: 0 5px;
}

.showToDo {
  margin: 10px 0;
}

.buttonAdd {
  background-color:blue;
  border: none;
  border-radius: 5px;
  width: 50px;
  color: white;
  text-decoration: none;
  margin: 0 5px;
}